[Unit]
Description=Pomodoro database by FiDB
After=network.target

[Service]
ExecStart=/usr/local/bin/fidb database:serve /databases/pomodoro
Restart=on-failure

[Install]
WantedBy=multi-user.target
